{% load static %}

<!doctype html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}">
    </head>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container">
            <a class="navbar-brand" href="{% url 'app_home' %}">Askwestions</a>
            <div class="collapse navbar-collapse" id="navbarsExample07">
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                 <li class="nav-item">
                  <a class="nav-link" href="{% url 'app_add_question' %}">Nouvelle Question</a>
                </li>
                 <li class="nav-item">
                  <a class="nav-link" href="{% url 'app_logout' %}">Logout</a>
                </li>
               {% else %}
                 <li class="nav-item">
                  <a class="nav-link" href="{% url 'app_register' %}">Register</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'app_login' %}">Login</a>
                </li>
               {% endif %}
              </ul>
              <form class="form-inline" action="{% url 'app_question_search' %}" method="get">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
                <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </div>
        </nav>
    </header>
    <body id="{% block id %}{% endblock %}">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
        <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/jquery.min.js' %}"></script>
    </body>
</html>