{% extends 'base.html' %}
{% load static %}

{% block title %}Askwestions - Home{% endblock %}
{% block id %}question_detail{% endblock %}
{% block content %}
    <div class="jumbotron jumbotron-fluid mt-5 mb-5">
      <div class="container">
        <h1 class="display-4">Askwestions</h1>
        <p class="lead">Vous avez une question sur un sujet divers ? Vous êtes au bon endroit. Répondez et posez les questions que vous voulez.</p>
      </div>
    </div>
    {% if object_list %}
        {% for object in object_list %}
            <div style="position: relative">
                <h2>{{ object.title }}</h2>
                <p>{{ object.description|truncatewords:50 }}</p>
                <a href="{% url 'app_question_detail' object.slug %}" class="btn btn-primary stretched-link btn-dark">Répondre</a>
                <hr>
            </div>
        {% endfor %}
    {% else %}
        <h2>Il n'y a aucune question.</h2>
    {% endif %}
    {% if page_obj.has_other_pages %}
        <nav>
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?search={% firstof request.GET.search "" %}&page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                {% endif %}

                {% for p in page_obj.paginator.page_range %}
                    {% if page_obj.number == p %}
                        <li class="page-item active"><span class="page-link">{{ p }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?search={% firstof request.GET.search "" %}&page={{ p }}">{{ p }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?search={% firstof request.GET.search "" %}&page={{ page_obj.next_page_number }}">Next</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}