{% extends 'base.html' %}
{% load static %}

{% block title %}Askwestions - Login{% endblock %}

{% block content %}
        <h2 class="mt-4">Veuillez remplir le formulaire pour vous connecter !</h2>
        <p class="lead">Vous pourrez ainsi répondre, créer des questions et modifier les vôtres.</p>
        <form method="post">
            <div class="form-group">
                {% csrf_token %}
                {% for field in form %}
                        {{ field.label_tag }}<br>
                        {{ field }}
                        {% if field.help_text %}
                            <small style="color: grey">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                {% endfor %}
                <button class="btn btn-dark mt-3" type="submit">Se connecter</button>
            </div>
        </form>
{% endblock %}
