{% extends 'base.html' %}
{% load static %}

{% block title %}Askwestions - Detail{% endblock %}
{% block id %}home{% endblock %}
{% block content %}
    <div class="mt-4">
        <h1>{{ object.title }}</h1>
    </div>
    <div class="mt-1">
        <p>Posté par {{ object.user }} le {{ object.created_at|date:'d M Y' }} à {{ object.created_at|date:'h' }}h{{ object.created_at|date:'m' }} - {{ object.likes }} likes</p>
    </div>
    <hr>

    <div class="mt-1">
        <p class="lead">{{ object.description}}</p>
    </div>

    <div class="mt-4">
        {{ object.comment_set.count }} commentaires  -  {{ object.likes }} likes
    </div>
    <hr>

    {% if user.is_authenticated %}
        <form action="{% url 'app_add_comment' object.slug %}" method="post">
            <div class="form-group">
                {% csrf_token %}
                {% for field in form %}
                        {{ field }}
                    {% if field.help_text %}
                            <small style="color: grey">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                {% endfor %}
                <input type="hidden" name="question_id" value="{{ object.id }}">
                <button class="btn-dark btn mt-1" type="submit">Poster</button>
            </div>
        </form>
        <hr>
    {% else %}
         <p><strong>Veuillez vous connecter pour poster un commentaire</strong></p>
    {% endif %}

    <div>
        {% if object.comment_set.count > 0 %}
            {% for comm in object.comment_set.all %}
                <div>
                    <p><strong>{{ comm.user }}</strong> - {{ comm.created_at|date:'d M Y' }} à {{ comm.created_at|date:'h' }}h{{ comm.created_at|date:'m' }}</p>
                </div>
                <div>
                    <p>{{ comm.description }}</p>
                </div>
                <hr>
            {% endfor %}
        {% else %}
            <p><strong>Il n'y a aucun commentaire.</strong></p>
        {% endif %}
    </div>
{% endblock %}