{% extends 'base.html' %}
{% load static %}

{% block title %}Askwestions - Register{% endblock %}

{% block content %}
    <h2 class="mt-4">Veuillez remplir le formulaire pour créer un compte !</h2>
    <p class="lead">Vous pourrez ainsi répondre et créer des questions.</p>
    <form method="post">
            <div class="form-group">
                {% csrf_token %}
                {% for field in form %}
                        {{ field.label_tag }}<br>
                        {{ field }}
                    {% if field.help_text %}
                            <small style="color: grey">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                {% endfor %}
                <button class="btn-dark btn mt-3" type="submit">S'enregistrer</button>
            </div>
    </form>
{% endblock %}
